@import "tailwindcss";

/* -------------------------------------------------------------------------- */
/* Theme Variables                                                            */
/* -------------------------------------------------------------------------- */

:root {
    --background: #cc041d;
    --foreground: #f8f5f7;
    --primary: #161a22;
}

/* -------------------------------------------------------------------------- */
/* Tailwind Theme Configuration                                               */
/* -------------------------------------------------------------------------- */

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);

    --font-cursive: var(--font-cursive);
    --font-main: var(--font-main);
}

/* -------------------------------------------------------------------------- */
/* Scrollbar Styling                                                          */
/* -------------------------------------------------------------------------- */

::-webkit-scrollbar {
    /* Customizes the browser scrollbar. */
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--foreground);
}
::-webkit-scrollbar-button {
    display: none;
}

/* -------------------------------------------------------------------------- */
/* Body Styles                                                                */
/* -------------------------------------------------------------------------- */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-main);
}

/* -------------------------------------------------------------------------- */
/* Utility Classes                                                            */
/* -------------------------------------------------------------------------- */

@utility flex-center {
    @apply flex items-center justify-center;
}
@utility flex-between {
    @apply flex items-center justify-between;
}

@utility page-layout {
    @apply w-full min-h-dvh h-dvh;
}

@utility text-loud {
    @apply font-main font-extrabold uppercase;
}

@utility text-script {
    @apply font-cursive font-bold tracking-tight;
}
